.articleListType1 {

    padding-top: 1em;

    > li {

        margin-bottom: 2em; margin-bottom: 1em; border-bottom: 1px solid $colorGrayLight1;

    }

    @include mediaMinWidth($breakpointMedium) {

        margin: 3em 0; border-radius: 0.4em; padding: 0;

    }

    @include mediaMinWidth($breakpointLarge) {

        position: relative; margin: 3em -1.5em; padding-top: 1.5em; overflow: hidden;
        background-color: transparent;

        &:after {

            content: ""; position: absolute; left: 1.5em; right: 1.5em; top: 0;
            border-top: 1px solid $colorGrayLight1;

        }

        > li {

            float: left; width: 50%; box-sizing: border-box; padding: 1.5em;
            margin: 0; border: 0;

        }

    }

}
