<a class="articleType1" href="#">
    <img src="images/articleType1_1.jpg" alt="A Dutch company is  building a $335 million  seawall around New York">
    <h3 class="title">A Dutch company is  building a $335 million  seawall around New York</h3>
</a>

<ul class="articleListType1">
    <li>
        <article class="articleType2">
            <a href="#" class="imageCont">
                <img src="images/articleType2_1.jpg" alt="">
            </a>
            <h3 class="title"><a href="#">A Dutch company is  building a $335 million  seawall around New York</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, alias non ad autem repellat, fugiat soluta quisquam, quae laudantium cumque inventore libero aliquam. Perferendis quod veritatis officiis in similique corporis.</p>
            <ul class="controls">
                <li><a class="iconHeart" href="#"><strong>300</strong> likes</a></li>
                <li><a class="iconComment" href="#"><strong>35</strong> comments</a></li>
                <li><a class="iconStopWatch" href="#"><strong>5</strong> min read</a></li>
            </ul>
        </article>
    </li>
    <li>
        <article class="articleType2">
            <a href="#" class="imageCont">
                <img src="images/articleType2_1.jpg" alt="">
            </a>
            <h3 class="title"><a href="#">A Dutch company is  building a $335 million  seawall around New York</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, alias non ad autem repellat, fugiat soluta quisquam, quae laudantium cumque inventore libero aliquam. Perferendis quod veritatis officiis in similique corporis.</p>
            <ul class="controls">
                <li><a class="iconHeart" href="#"><strong>300</strong> likes</a></li>
                <li><a class="iconComment" href="#"><strong>35</strong> comments</a></li>
                <li><a class="iconStopWatch" href="#"><strong>5</strong> min read</a></li>
            </ul>
        </article>
    </li>
    <li>
        <article class="articleType2">
            <a href="#" class="imageCont">
                <img src="images/articleType2_1.jpg" alt="">
            </a>
            <h3 class="title"><a href="#">A Dutch company is  building a $335 million  seawall around New York</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, alias non ad autem repellat, fugiat soluta quisquam, quae laudantium cumque inventore libero aliquam. Perferendis quod veritatis officiis in similique corporis.</p>
            <ul class="controls">
                <li><a class="iconHeart" href="#"><strong>300</strong> likes</a></li>
                <li><a class="iconComment" href="#"><strong>35</strong> comments</a></li>
                <li><a class="iconStopWatch" href="#"><strong>5</strong> min read</a></li>
            </ul>
        </article>
    </li>
    <li>
        <article class="articleType2">
            <a href="#" class="imageCont">
                <img src="images/articleType2_1.jpg" alt="">
            </a>
            <h3 class="title"><a href="#">A Dutch company is  building a $335 million  seawall around New York</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, alias non ad autem repellat, fugiat soluta quisquam, quae laudantium cumque inventore libero aliquam. Perferendis quod veritatis officiis in similique corporis.</p>
            <ul class="controls">
                <li><a class="iconHeart" href="#"><strong>300</strong> likes</a></li>
                <li><a class="iconComment" href="#"><strong>35</strong> comments</a></li>
                <li><a class="iconStopWatch" href="#"><strong>5</strong> min read</a></li>
            </ul>
        </article>
    </li>
</ul>