<header class="mainHeader">
    <div class="fitWrap">
        <a href="/app_dev.php/" title="Go to homepage" class="logo iconOctopus icr jsLink">I'm neked!</a>
        <form class="mainSearch" action="search-results.json">
            <input autocomplete="off" class="query" type="text" placeholder="Search for a perfect query" name="query" />
            <button class="btnSubmit iconSearch icr nBtn" type="submit">Click me hard</button>
        </form>
    </div>
    <nav class="mainNav">
        <button type="button" class="toggleBtn iconMenu nBtn icr">Toggle nav</button>
        <div class="fitWrap cf">
            <ul>
                <li><a class="selected" href="#">Homepage</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">Journal</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <a href="#" class="signIn iconUser">Sign in</a>
        </div>
    </nav>
</header>