<section class="listModuleType1">
    <h3 class="titleType1">One list to rule them all</h3>
    <ol>
        <li>First! OMG!</li>
        <li>is sequel</li>
        <li>all for one</li>
        <li>I am number</li>
        <li>is the element</li>
        <li>is the big hero</li>
        <li>Lucky number</li>
        <li>is super</li>
        <li>in deep space</li>
        <li>comes from 1979</li>
    </ol>
    <a href="#" class="btnType1"><span>view more</span></a>
</section>

<section class="galleryModule">
    <h3 class="titleType1">Picture gallery</h3>
    <ul class="imageGallery cf">
        <li>
            <a href="images/gallery/galleryLarge1.jpg" title="Gallery Large 1" class="gallery-thumb">
                <img src="images/gallery/gallerySmall1.jpg" />
            </a>
        </li>
        <li>
            <a href="images/gallery/galleryLarge2.jpg" title="Gallery Large 2" class="gallery-thumb">
                <img src="images/gallery/gallerySmall2.jpg" />
            </a>
        </li>
        <li>
            <a href="images/gallery/galleryLarge3.jpg" title="Gallery Large 3" class="gallery-thumb">
                <img src="images/gallery/gallerySmall3.jpg" />
            </a>
        </li>
       
        <li>
            <a href="images/gallery/galleryLarge4.jpg" title="Gallery Large 4" class="gallery-thumb">
                <img src="images/gallery/gallerySmall4.jpg" />
            </a>
        </li>
        <li>
            <a href="images/gallery/galleryLarge5.jpg" title="Gallery Large 5" class="gallery-thumb">
                <img src="images/gallery/gallerySmall5.jpg" />
            </a>
        </li>
        <li>
            <a href="images/gallery/galleryLarge6.jpg" title="Gallery Large 6" class="gallery-thumb">
                <img src="images/gallery/gallerySmall6.jpg" />
            </a>
        </li>
        <li>
            <a href="images/gallery/galleryLarge7.jpg" title="Gallery Large 7" class="gallery-thumb">
                <img src="images/gallery/gallerySmall7.jpg" />
            </a>
        </li>
        <li>
            <a href="images/gallery/galleryLarge8.jpg" title="Gallery Large 8" class="gallery-thumb">
                <img src="images/gallery/gallerySmall8.jpg" />
            </a>
        </li>
        <li>
            <a href="images/gallery/galleryLarge9.jpg" title="Gallery Large 9" class="gallery-thumb">
                <img src="images/gallery/gallerySmall9.jpg" />
            </a>
        </li>
        <li>
            <a href="images/gallery/galleryLarge10.jpg" title="Gallery Large 10" class="gallery-thumb">
                <img src="images/gallery/gallerySmall10.jpg" />
            </a>
        </li>
        <li>
            <a href="images/gallery/galleryLarge11.jpg" title="Gallery Large 11" class="gallery-thumb">
                <img src="images/gallery/gallerySmall11.jpg" />
            </a>
        </li>
        <li>
            <a href="images/gallery/galleryLarge12.jpg" title="Gallery Large 12" class="gallery-thumb">
                <img src="images/gallery/gallerySmall12.jpg" />
            </a>
        </li>
    </ul>
    <a href="#" class="btnType1"><span>view more</span></a>
</section>

<section class="listModuleType2">
    <h3 class="titleType1">Featured articles</h3>
    <ul>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall1.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall2.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall3.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall4.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
    </ul>
    <a href="#" class="btnType1"><span>view more</span></a>
</section>