<section class="listModuleType1">
    <h3 class="titleType1">One list to rule them all</h3>
    <ol>
        <li>First! OMG!</li>
        <li>is sequel</li>
        <li>all for one</li>
        <li>I am number</li>
        <li>is the element</li>
        <li>is the big hero</li>
        <li>Lucky number</li>
        <li>is super</li>
        <li>in deep space</li>
        <li>comes from 1979</li>
    </ol>
    <a href="#" class="btnType1"><span>view more</span></a>
</section>

<section class="listModuleType2">
    <h3 class="titleType1">Featured articles</h3>
    <ul>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall1.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall2.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall3.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall4.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
    </ul>
    <a href="#" class="btnType1"><span>view more</span></a>
</section>