//--------------------------------------------------------------
// Colors
//--------------------------------------------------------------
$colorMain1: #E33044;

$colorGrayDark1: #333;
$colorGrayDark2: #666;

$colorGrayLight1: #EAEAEA;

//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------
$icons: (

    menu: '\e603',
    octopus: '\e605',
    user: '\e606',
    search: '\e604',
    comment: '\e602',
    heart: '\e601',
    stopWatch: '\e600'

);

//--------------------------------------------------------------
// Breakpoints
//--------------------------------------------------------------
$breakpointSmall: 540;
$breakpointMedium: 720;
$breakpointLarge: 1000;
